.circle {
    border-radius: 50%;
    width: 5em;
    height: 5em;
    color: var(--white);
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.circle p {
    align-self: center;
}

.navy { 
    background-color: var(--navy);
}

.yellow { 
    background-color: var(--yellow);
}

.green { 
    background-color: var(--green);
}

.pink { 
    background-color: var(--pink);
}