.FinalResult--container {
    padding: 20px 0;
}

.FinalResult--albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.FinalResult--single-album {
    width: 150px;
    height: 150px;
    background-color: var(--dark-gray);
    margin: 5px;
}

.FinalResult--single-album.incorrect {
    opacity: 20%;
}

.FinalResult--user-text {
    font: 30px 'Roboto-Regular';
    color: var(--black);
}

.FinalResult--score-container {
    margin-top: 20px;
}

.FinalResult--social-container {
    margin-top: 20px;
}

.FinalResult--social-container > button {
    margin: 0 20px;
}

.FinalResult--score-text {
    display: inline-block;
    position: relative;
    top: -75px;
    right: 170px;
    color: var(--black);
    font: 40px 'Roboto-Regular';
}

.FinalResult--score-text-span {
    color: var(--black);
    font: 18px 'Roboto-Thin';
}

@media only screen and (max-width: 800px) {
    .FinalResult--single-album {
        width: 100px;
        height: 100px;
    }

    .FinalResult--score-background {
        width: 200px;
        height: 200px;
    }

    .FinalResult--score-text {
        top: -85px;
        right: 150px;
        font: 35px 'Roboto-Regular';
    }
}
