/* Common variables */

:root {
  /* Colors */
  --white: #FFF;
  --yellow: #FFD166;
  --green: #06D6A0;
  --navy: #26547C;
  --pink: #EF476F;
  --black: #000;
  --gray: #F4F5F6;
  --light-navy: #26547c7b;
}

/* Fonts */
@font-face {
  font-family: "Roboto-Thin";
  src: url("./assets/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Thin-Italic";
  src: url("./assets/fonts/Roboto/Roboto-ThinItalic.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf");
}


html, body {
  margin: 0;
  height: 100%;
}